body,
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
body h6,
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
  margin-top: 15px;
}
.navbar-form button {
  margin-top: 15px;
margin-left
}
.toast-top-right {
  top: 80px;
}
.toast-success {
  background-color: #18bc9c;
}
