.container
	.jumbotron
		h1 Linked-2
		p Site Prototype with Profiles
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")