.container
	.jumbotron
		h1 MultiVision
		p An absolutely awesome site created by Linked-2 Consulting LLC
	.row
		.col-md-6
			div(ng-include="'../../public/app/main/featured-courses'")
		.col-md-6
			div(ng-include="'../../public/app/main/new-courses'")